<nav class="navbar navbar-expand-lg bg-danger-subtle shadow sticky-top fs-2">
    <div class="container-fluid">
        <img src="https://images.wakelet.com/resize?id=rRk-qq9Nq2WFfXTbMV45w&h=1178&w=1280&q=85#" alt="">
        <a class="navbar-brand fs-1 text-info-emphasis" href="#"> Pouki8</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">exemple</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Espace Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">A venir...</a>
                </li>
            </ul>
        </div>
    </div>
</nav>